spring:
  application:
    name: billing-app

  datasource:
    url: jdbc:postgresql://localhost:5432/billing_db
    username: postgres
    password: postgress123

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080
